<style>

/* FORM STYLES */

form {
  width: 30em;
  margin: .5em auto;
  padding: 2em;
  background-color: darkgreen;
}
input {
  width: 21em;
}
select {
  width: 21.5em;
}
select[size] {
  background-color: peachpuff;
}
input[name="email"] {
  background-color: lightsalmon;
}
input[name$="-name"] {
  background-color: salmon;
}
  { width: 21.5em;
}
label {
  display: inline-block;
  width: 12em;
  padding: .5em;
  color: rgb(210 220 157);
  font: bold .8em sans-serif;
  text-transform: uppercase;
  letter-spacing: .1em;
}
form > p {
  text-align: center;
  margin-bottom: 0;
}


/* LINK STYLES */
a:link {
  text-decoration: none;
  border: 1px solid white;
  background-color: rgb(255 255 255 / .25);
  border-radius:5px;
  padding: 3px 6px;
  margin: .5rem;
  font-weight: bold; 
  color: #993399;
}
a:visited {
  color: #937393;
}
a:focus {
  text-decoration: none;
  border: 1px solid white;
  background-color: white;
  border-radius:5px;
  padding: 3px 6px;
  margin: .5rem;
  font-weight: bold; 
  color: #C700F2;
}
a:hover {
  text-decoration: none;
  border: 1px solid white;
  background-color: white;
  border-radius:5px;
  padding: 3px 6px;
  margin: .5rem;
  font-weight: bold; 
  color: #C700F2;
}
a:active {
  text-decoration: none;
  border: 1px solid white;
  background-color: white;
  border-radius:5px;
  padding: 3px 6px;
  margin: .5rem;
  font-weight: bold; 
  color: #C700F2;
  text: fuchsia
}

/* TABLE STYLES */
table {
  width: 34em;
  border-collapse: collapse;
  margin: 0 auto;
}
tr:nth-child(1) {background-color: tomato;} {
  padding: 1em;
}
tr:nth-child(even) {background-color: wheat;} {
}
tr:nth-child(2n+3) {background-color: blanchedalmond;} {
}
tr:nth-last-child(1) {background-color: darksalmon;} {
}
th, td {
  text-align: left;
  padding: 8px 30px;
}
td:not(.day) {
  background-color: rgb(255 255 255 / .25);
}
th {
  font: bold .8em sans-serif;
  text-transform: uppercase;
  letter-spacing: .1em;
}
td.day {
  font: bold 1em sans-serif;
}


/* MONTHLY STYLES */
#monthly p {
  margin: .5em 2em 0;
}
#monthly p::first-letter{
  font-size: 1.25em;
  font-weight: normal;
  font-family: sans-serif;
  color: darkolivegreen;
}
#monthly h3 {
  font: bold .8em sans-serif;
  text-transform: uppercase;
  letter-spacing: .1em;
  margin-top: 1.5em;
  padding: .2em 1em;
  color: white;
}
#monthly h3:nth-of-type(odd) { background-color: chocolate; 
} 
#monthly h3:nth-of-type(even) { background-color: olive; 
} 

/* ENTERTAINMENT STYLES */
#entertainment li {
  margin-top: 1em;
}
#entertainment li::before {
  content: url(star-icon-1.png);
  margin-right: .5em;
}
li.fave::after {
  content: "(Fan Favorite)";
  margin-left: .5em;
  color: olive
}


/* PAGE FORMATTING STYLES */
body {
  font-family: Georgia, serif;
  font-size: 100%;
  line-height: 175%;
  margin: 0 15% 0;
  background-color: rgb(210 220 157);

}
header {
  margin-top: 0;
  padding: 3em 1em 2em 1em;
  text-align: center;
  background-color: rgb(255 255 255 / .5);
}
header ul li {
  margin-bottom: .5rem;
}
footer {
  margin: 2em 0 3em;
  padding-top: .5em;
  border-top: 1px solid darkseagreen;
  font-size:smaller;
}

#monthly, #entertainment {
  padding: 0 6em;
}

/* TEXT STYLES */
h1 {
    font: bold 2em Georgia, serif;
    color: #939;
}
h2 {
  font-size: 1em;
  text-transform: uppercase;
  letter-spacing: .25em;
  text-align: center;
  color: hsl(30 100% 20%);
  margin-top: 2em;
}

#info p, h2 + p {
  font-style: italic;
  text-align: center;
}

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}
</style>