body {
    font-family: Arial;
    line-height: 1.75;
    background-color: #5BA4A4;
}
header {
    background-image: url(icons/rescue-logo.png);
    background-repeat: no-repeat, no-repeat;
    background-position: bottom center;
    height: 200px;
    background-size: 10em;  
    background-color: #C06C48;
}
div#header-container {
    background-color: #C06C48;
    color:#FFF9E6;
    text-transform: uppercase;
    letter-spacing: .5em;
    font-size: 1.5em;
    font: arial;
    text-align: center;
}
header h1 {
    text-align: center;
    padding-top: 150px;
    font-size: 1.5em;
    color: #FFF9E6;
    text-transform:uppercase;
    letter-spacing: .5em;
}
a:link {
    color: #FFF9E6;
    text-decoration: underline;
}
a:visited {
    color: #3B3B3B;
    text-decoration: underline;
}

div h1{
    text-align: center;
    color: #FFF9E6;
    font-family: arial;
}
div h2 {
    text-align: center;
    color: #FFF9E6;
    font-family: arial;
}
div h3 {
    text-align: center;
    color: #C06C48;
    font-family: arial;
}
div h4 {
    text-align: center;
    color: #3B3B3B;
    font-family: arial;
}
div#adoptable-pets li {
    display: flex;
    justify-content: center;
}
div#contact-info li {
    display: flex;
    justify-content: center;
}
div#social-links p {
    text-align: center;
    color: #FFF9E6;
    text-transform: uppercase;
    letter-spacing: .25em;
    justify-content: center;
}
div#social-links li {
    display: flex;
    justify-content: center;
}
div#about-us a {
    color: #FFF9E6;
}
div p {
    text-align: center;
    color: #3B3B3B;
}
div img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
form {
    text-align: left;
    color: #3B3B3B;
}
footer {
    background-color: #C06C48;
    border-width: 2px;
    color: #FFF9E6;
    text-align: center;
    padding: 10px 0;
}
ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
}
    li {
        display:inline;
        margin: 0 15px;
}
table {
    margin-left: auto;
    margin-right: auto;
}
table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    padding: 10px;
}
a:link {
    color:#FFF9E6;
    text-decoration: none;
    border-color:#5BA4A4;
}
a:hover, a:focus {
    border-color:#FFF9E6;
    background-color: #3B3B3B;
    text-decoration: underline;
    border: 2px transparent 25%;
    padding: 5px;
}
a:visited {
    color:#FFF9E6;
}
a:active {
    border-color:#3B3B3B;
    text-decoration: underline;
    border: 2px transparent 25%;
    padding: 5px;
}
thead {
    background-color: #C06C48;
    color: #3B3B3B;
}
tbody tr:nth-child(even) {
    background-color: #FFF9E6;
    color:#3B3B3B
}
tbody tr:nth-child(odd) {
    background-color: #FFFFF9;
    color:#3B3B3B;
}
tbody tr:nth-last-child(1) {
    color: #3B3B3B;
    font-weight: bold;
}